<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FinalTestNg" parallel="false">
  <test name="FinalTestNgMavenTest">
    <classes>
      <class name="TestForm.DataDriveFormTest"/>
      <class name="TestForm.EditAccountFormTest"/>
      <class name="TestForm.RegisterOrderFormTest"/>
      <class name="TestForm.SearchProductFormTest"/>
      <class name="TestForm.SignUpFormTest"/>
    </classes>
  </test>
</suite>